.power-container{
    width: 5rem;
    color: rgb(124, 124, 124);
}
.power-button{
    width: 3rem;
    height: 1rem;
    background: rgb(17, 17, 17);
    box-shadow: inset -2px 2px 0px rgb(0, 0, 0);
    border-radius: 2px;
}

.switch{
    width: 1.5rem;
    height: 1rem;
    background: rgb(85, 85, 85);
    transition: all 1s ease-in-out;
    border-radius: 2px;
}
